// Specific CSS for your home-page
html {
  scroll-behavior: smooth;
  width: 100vw
}

body {
  padding: 0px;
  margin: 0px;
}
a {
  text-decoration: none;
  color: $light-gray;
  &:hover {
  text-decoration: none;
  color: $yellow;
  }
}
ul {
  display: list-item;
}

.responsive-hider {
  display: none;
}

@media only screen and (max-width: 767px) {

.responsive-hider {
  display:inline-block;
  background-color: #ebebeb;
  width: 100vw;
  height: 90px;
  top: 0;
  position: sticky;
}
}
