// Specific CSS for your home-page
body {
  padding: 0px;
  margin: 0px;
}
a {
  text-decoration: none;
  color: $light-gray;
  &:hover {
  text-decoration: none;
  color: $yellow;
  }
}
ul {
  display: list-item;
}

.title {
  padding: 30px 100px 20px 0;
  top: 0;
  position: sticky;
  background-color: #ebebebe5;
  z-index: 3;
  width: 100%;
}
