<div class="banner-container">
  <div class="banner filter">
    <div class="textarea text">
      <h1 class="p-1">Code.</h1>
      <h1 class="p-1">Every.</h1>
      <h1 class="p-1">Day.</h1>
      <p class="p-1">Check my works<a href="#works"> here</a></p>
    </div>
  </div>
</div>
