<div class="banner-container">
  <div class="banner filter">
    <div class="textarea text">
      <h1 class="pb-3"><%= link_to 'Check my works', 'partials/projects' %></h1>
      <h2><%= link_to 'Contact me', 'partials/projects' %></h2>
    </div>
  </div>
</div>
