<div class="container-sidebar">
  <div class="sidebar blur">
    <h1 id="name">Anju Mogi</h1>
    <div class="links">
      <ul class="navbars">
        <li class="navbar nav-hidden">
          <a href="#about">About</a>
        </li>
        <li class="navbar">
          <a href="#works">Works</a>
        </li>
        <li class="navbar sns">
          <a href="assets/images/cv.pdf" target="_blank">Resume</a>
        </li>
        <li class="navbar nav-visible">
          <a href="#contact"><i class="far fa-envelope"></i></a>
        </li>
        <li class="navbar" style="display: none;">
          Blogs
        </li>
      </ul>
      <ul>
        <li class="navbar sns">
          <a href="#contact"><i class="far fa-envelope"></i></a>
        </li>
        <li class="navbar sns">
          <a href="https://www.linkedin.com/in/anjumogi/"><i class="fab fa-linkedin-in"></i></a>
        </li>
        <li class="navbar sns">
          <a href="https://github.com/ansanigom"><i class="fab fa-github"></i></a>
        </li>
        <li class="navbar sns">
          <a href="https://twitter.com/ansanigom"><i class="fab fa-twitter"></i></a>
        </li>
        <li class="navbar sns">
          <a href="https://www.instagram.com/ansanigom/"><i class="fab fa-instagram"></i></a>
        </li>
      </ul>
    </div>
  </div>
</div>
