<div class="container-sidebar">
<div class="sidebar">
  <h1 id="name">Anju Mogi</h1>
  <div class="links">
    <ul class="navbars">
      <li class="navbar">
        About
      </li>
      <li class="navbar">
        Works
      </li>
      <li class="navbar" style="display: none;">
        Blogs
      </li>
      <li class="navbar">
      </li>
    </ul>
    <ul>
      <li class="navbar sns">
        <a href="https://www.linkedin.com/in/anjumogi/"><i class="fab fa-linkedin-in"></i></a>
      </li>
      <li class="navbar sns">
        <a href="https://github.com/ansanigom"><i class="fab fa-github"></i></a>
      </li>
      <li class="navbar sns">
        <a href="https://twitter.com/ansanigom"><i class="fab fa-twitter"></i></a>
      </li>
      <li class="navbar sns">
        <a href="https://www.instagram.com/ansanigom/"><i class="fab fa-instagram"></i></a>
      </li>
      <li class="navbar sns">
        <a href="mailto:anju.mogi@gmail.com"><i class="far fa-envelope"></i></a>
      </li>
    </ul>
  </div>
</div>
</div>
