    
<h1 class="title" style="text-align: right;">Works</h1>
<div id="works" class="project-container">
  <div class="box">
    <div class="intros">
      <%= image_tag "mypic.jpg", class: "avatar-square", alt: "avatar-square", class:"intro photo mr-4"%>
      <div class="intro">
        <h2>Title</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. At sed suscipit explicabo provident asperiores sint accusamus rerum, quia ea et ipsa inventore sequi assumenda veniam, numquam perspiciatis, nihil adipisci. Accusamus!
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione nihil, nostrum, autem nobis amet dolore alias recusandae voluptatum veritatis atque totam explicabo ipsum eius porro ad repellendus modi aperiam excepturi.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem explicabo excepturi ipsa eaque, repellendus sed dignissimos, hic fuga fugiat cum quasi aliquid ullam a dolores quibusdam odio beatae voluptates blanditiis.
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur magnam praesentium molestias officiis recusandae odio suscipit eligendi reiciendis. Aspernatur, ex et officia suscipit a nobis accusantium nam aliquid cum illum?
        </p>
      </div>
    </div>
  </div>
</div>
