<div id="about" class="about-all">
  <h1 class="about-title" style="text-align: right;">About</h1>
  <div class="about-container">
    <div class="box">
      <div class="intros">
        <%= image_tag "mypic.jpg", class: "avatar-square intro photo", alt: "avatar-square" %>
        <div class="intro">
          <h2 style="font-family: 'Zen Kaku Gothic New', sans-serif;">はじめまして、杏樹です。</h2>
          <p style="font-family: 'M PLUS 2', sans-serif;">
            広島在住プログラマー、2月頃東京引っ越し予定。<br>
            2021年末、Le Wagon Tokyoにて9週間就学後、フルスタックデベロパーとして活動しています。<br>
            現在求職中。<a href="#contact" style="color: rgb(43, 43, 43);">コンタクトフォーム</a>よりお問い合わせいただければ履歴書、職務経歴書をお送りいたします。
            大学在学中のアルバイトから様々な接客業を経験してきましたが、出産、コロナ渦を期にキャリアチェンジ。<br>
            1才、3才の愛娘と日系アメリカ人の主人の4人家族です。
          </p>
        </div>
      </div>
        <div class="pt-4 border-bottom"></div>
      <div class="skills">
        <div class="skill">
          <h3 style="font-family: 'Zen Kaku Gothic New', sans-serif;">語学力</h3>
          <p style="font-family: 'M PLUS 2', sans-serif;">
            <strong>日本語</strong>: <i>母国語</i> <br>
            <strong>英語</strong>: <i>ビジネスレベル</i> <br>
            <strong>スウェーデン語</strong>: <i>日常会話レベル</i> <br>
            <br>
            イギリスで生まれ、幼少時代のほとんどをヨーロッパで過ごしてきました。<br>
            英語、日本語とも流暢に話せます。
          </p>
        </div>
        <div class="skill">
          <h3 class="code" style="font-family: 'Zen Kaku Gothic New', sans-serif;">プログラミングスキル</h3>
          <p style="font-family: 'M PLUS 2', sans-serif;">
            Ruby on Rails, HTML, CSS5, JavaScript ES6,
            SQL database, Bootstrap, git, GitHub, and Heroku
          </p>
          <h3 class="code" style="font-family: 'Zen Kaku Gothic New', sans-serif;">学習中…✎</h3>
          <p style="font-family: 'M PLUS 2', sans-serif;">
            Stimulus, React
          </p>
        </div>
      <div class="border-bottom"></div>
      </div>
    </div>
  </div>
</div>
