.about-container {
  margin-left: 300px;
  padding: 30px;
  margin-bottom: 40px;

  .box {
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1;
  }
}
.intros {
  display: flex;
}

.photo {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border: 3px solid rgba(255, 255, 255, 0.473);
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.skills {
  display: flex;
}

.skill {
  width: 50%;
  padding: 40px;
  padding-left: 0;
  margin: 10px;

h3 {
  padding-bottom: 10px;
}
}
