.banner {
  background-size: cover;
  background-position: unset;
  width: 100vw;
  height: 100vh;
  background-image: image-url('beach.jpg');
  background-attachment: fixed;
  background-color: #464646;
  top: 0;
  position: sticky;
  padding: 500px 20px;
}

.text {
  float: right;
  text-align: right;
}
.banner h1 {
  margin: 0;
  color: $light-gray;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
  font-weight: bold;
}

.banner p {
  margin: 0;
  color: $light-gray;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 20px;

  a {
  &:hover {
    color: $gray;
    transition: 0.3s;
  }
}
}

.banner h2 {
  font-size: 36px;
  color: $light-gray;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

@media only screen and (max-width: 767px) {
  .banner {
  padding: 0;
  margin: 0;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100vw;
  height: 350px;
  background-image: image-url('beach.jpg');
  background-attachment: fixed;
  background-color: #464646;

  h1, p, h2 {
    display: none
  }
}
}
