
.container-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  box-shadow: 3px 3px 10px rgba(53, 40, 7, 0.548);
  z-index: 100;
}

.sidebar{
  height: 100vh;
  width: 300px;
  padding: 0px;
  margin-right: 0px;
  background-color: rgba(255, 255, 255, 0.253);
  left: 0;
  top: 0;
  position: sticky;
}
.links {
  font-size: 20px;
  text-align: center;

  a {
  color: $gray;
  padding: 4px;

  &:hover {
    color: $yellow;
    transition: 0.3s;
  }
  }

  ul {
    padding: 0;
    margin: 0;
  }
}

.navbar {
  justify-content: center;
  padding: 12px;
}

#name {
  padding: 80px 0 60px 0;
  text-align: center;
}

.nav-visible {
  display: none;
}

.nav-hidden {
  display: flex;
}

@media only screen and (max-width: 767px){

  .container-sidebar {
  box-shadow: 0px;
  z-index: 100;
  top: 0;
  left:auto;
  bottom: auto;
  width: 100vw;
}


  .sidebar{
    height: 90px;
    width: 100vw;
    padding: 0px;
    margin: 0px;
    background-color: rgba(255, 255, 255, 0.253);
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  #name {
    padding: 40px;
    text-align: left;
    font-size: 27px;
  }

  .navbars {
    display: flex;
    justify-content: space-evenly;
  }

  .navbar {
    padding: 12px;
    text-align: center;

    a {
      font-size: 24px;
    }
}
  .links {
    align-self: center;
  }

  .navbar.sns {
     display: none;
   }

   li.nav-hidden {
     display: none;
   }

   li.nav-visible {
     display: flex;
     i {
     font-weight: 600;
     }
   }
}
