  <!-- Banner Section -->
  <%= partial 'partials/navbar-left' %>
<div class="container ">
  <!-- About Section -->
  <%= partial 'partials/about' %>
  <!-- Projects Section -->
  <%= partial 'partials/projects' %>
  <!-- Contact Section -->
  <%= partial 'partials/contact' %>
</div>
